@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --breakpoint-phone: 425.99px;
  --spacing-container: clamp(20px, 5vw, 70px);
  --color-Gray: #f5f5f5;
  --color-Black: #3e3232;
  --color-Primary: #f81539;
}
button {
  @apply cursor-pointer;
}
input {
  @apply rounded-xl bg-[#F5F5F5]  w-full text-[#3E3232] outline-none px-3;
}
.paragraph {
  @apply text-[#3e3232b7] font-roboto text-sm font-normal;
}
.text-btn {
  @apply font-medium font-roboto text-sm;
}
.text-Input {
  @apply font-roboto font-normal text-xs;
}
.text-h4 {
  @apply font-roboto text-xl font-medium text-black;
}
h5 {
  @apply font-roboto text-base font-medium;
}
.text-h6 {
  @apply font-roboto text-[13px] font-medium;
}
.container {
  @apply max-w-[1512px] w-full 2xl:p-0 phone:px-container px-[16px] m-auto;
}
.inputText {
  @apply font-roboto font-normal text-xs text-[#3E3232];
}
.bg-card {
  @apply w-full h-full hidden lg:flex items-end flex-1 bg-no-repeat rounded-xl bg-cover bg-center;
}
.bg-card__panel {
  @apply bg-[#FFFFFFBF] rounded-xl m-[10px] p-4 flex flex-col gap-3;
}
.footer__btn {
  @apply bg-[#F5F5F5] rounded-xl p-2.5;
}
.footer__icon {
  @apply text-[#3E3232] text-xl;
}
.post-meta-item {
  @apply flex items-center gap-2 font-roboto font-medium text-sm;
}
.button-light {
  @apply rounded-xl bg-[#F5F5F5] flex items-center gap-2 h-full px-2 phone:px-4;
}
.button-primary {
  @apply flex items-center gap-2 text-white bg-Primary/75 rounded-xl px-4;
}
.editor-img {
  @apply rounded-xl max-w-[872px] w-full h-[161px] md:h-[273px] lg:h-[486px] block mx-auto object-cover;
}
