@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
}
.container {
  max-width: 1527px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.inputText {
  @apply font-roboto font-normal text-xs text-[#3E3232];
}
